<div class="col-md-10 col-md-offset-1">
	<div class="well well bs-component">
		<form class="form-horizontal">
			<fieldset>
				<legend> Pedidos </legend>
				<div class="form-group">
					<label for="combo" class="col-lg-2 control-label"> Seleccionar Combo </label>
					<div class="col-lg-10">
						<input type="text" name="combo" class="form-control" id="combo" placeholder="Selecciona Combo">
					</div>
				</div>

				<div class="form-group">
					<label for="cantidad" class="col-lg-2 control-label"> Cantidad </label>
					<div class="col-lg-10">
						<input type="text" name="cantidad" class="form-control" id="cantidad" placeholder="cantidad de combos">
					</div>
				</div>

				<div class="form-group">
					<label for="fechaEntrega" class="col-lg-2 control-label"> Fecha de Entrega </label>
					<div class="col-lg-10">
						<input type="text" name="fechaEntrega" class="form-control" id="fechaEntrega" placeholder="Fecha de entrega de pedido">
					</div>
				</div>

				<div class="form-group">
					<label for="abono" class="col-lg-2 control-label"> Abono </label>
					<div class="col-lg-10">
						<input type="text" name="abono" class="form-control" id="abono" placeholder="Abono">
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-md-offset-2">
					<button class="btn btn-default"> Cancelar </button>
					<button type="submit" class="btn btn-primary"> Crear </button>	
					</div>
				</div>

			</fieldset>
		</form>
	</div>
</div>
