
<div class="col-md-10 col-md-offset-1">
	<div>
		<a [routerLink]="['/admin']" class="btn btn-default">Volver</a>
		<a [routerLink]="['/admin/imagen/create']" class="btn btn-success">Nueva Imagen</a>
	</div>
</div>

<div class="col-md-10 col-md-offset-1">
	<div class="table table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Imagen</th>
					<th>Titulo</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let imagen of imagenes | async">
					<td> <img src="{{imagen.thumbnail}}" width="200" /> </td>
					<td>{{imagen.titulo}}</td>
					<td>
						<a [routerLink]="['/imagen/edit']" class="btn btn-info">Editar</a>
						<a [routerLink]="['/imagen/delete']" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
